.genderToggle {
  display: flex;
  flex-direction: row;
  margin: auto;

  img {
    height: 50px;
    width: 50px;
    margin: 0 20px;
  }
}


.baby-names-content {
  display: flex;
  flex-direction: column;
  margin: 80px 0;

  .name-display {
    font-size: 60px;
    font-weight: bold;
    margin: 100px 0;

    .next-name img {
      margin-top: 20px;
      width: 60px;
      height: 60px;
    }
  }

  .voting-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    img {
      height: 50px;
      width: 50px;
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
      transition: none;

      &.animate-no-match {
        animation: growFade 0.3s alternate 2;
      }

      @keyframes growFade {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(5);
        }
      }

      &.animate-match {
        animation: spinGreen 0.6s alternate 2;
      }

      @keyframes spinGreen {
        0% {
          transform: rotate(0) scale(1);
          filter: invert(0) sepia(0) hue-rotate(50deg) saturate(0)  ;
        }
        100% {
          transform: rotate(720deg) scale(5);
          filter: invert(100) sepia(100) hue-rotate(50deg) saturate(30);
        }
      }

    }
  }

  button.matches-button {
    margin: 100px auto;
    font-size: 20px;
  }
}

.matches-container {
  display: flex;
  flex-direction: column;
  margin:  0 auto 100px auto;

  .match-element {
  }

  .match-name {
    font-size: 25px;
  }
}

.positive-votes-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  .user-column {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    h3 {
      text-align: center;
      grid-column: 1 / span 2;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}
