.insult-view {
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}

.insult-view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.text-animation-1 {

  animation: waviy 3s linear infinite;
  @keyframes waviy {
    0% {
      opacity: 0;
      transform: translateY(-320px)
    }
    20% {
      transform: translateY(0)
    }
    25% {
      transform: translateY(-30px)
    }
    30% {
      transform: translateY(0)
    }
    33% {
      transform: translateY(-10px)
    }
    35%, 85% {
      transform: translateY(0);
      opacity: 1
    }

    100% {
      transform: translateY(320px);
      opacity: 0;
    }
  }
}


.text-animation-2 {
  animation: big-to-small 5s infinite;

  color: #ffffff;
  text-shadow: 0 0 25px #831dd3;

  @keyframes big-to-small {
    0% {
      transform: scale(30) rotate(180deg);
      opacity: 0;
      filter: blur(10px) brightness(300%) contrast(200%);
    }
    40%, 80% {
      transform: scale(1) rotate(0deg);
      opacity: 1;
      filter: blur(0) brightness(100%) contrast(100%);
    }

    97% {
      transform: scaleY(10) scaleX(10);
      opacity: 1;
      filter: blur(10px) brightness(300%) contrast(500%);
    }

    100% {
      transform: scaleY(0);
      filter: blur(10px);
      opacity: 0.5;
    }
  }
}

.text-animation-3 {
  animation: rainbow 6s ease infinite;
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(123, 23, 168, 1) 16%, rgba(26, 154, 207, 1) 37%, rgba(18, 208, 50, 1) 55%, rgba(205, 210, 2, 1) 72%, rgba(227, 15, 15, 1) 94%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;

  @keyframes rainbow {
    0% {
      background-position: 0 0;
      transform: scale(0.8);
    }

    50% {
      transform: scale(1.3)
    }

    100% {
      background-position: 400% 0;
      transform: scale(0.8);
    }
  }

}

.text-animation-4 {
  line-height: 3;

  span {
    display: inline-block;

    animation: jumping-letters 2.5s infinite ease;
    animation-delay: calc(var(--index) * 100ms);


    @keyframes jumping-letters {
      0%, 100% {
        transform: translateY(0);
        color: rgb(calc(255 * var(--randomR)), calc(255 * var(--randomG)), calc(255 * var(--randomB)));
      }
      50% {
        transform: translateY(-60px);
        color: rgb(255, 255, 255);
      }
      80% {
        color: rgb(calc(150 * var(--randomR)), calc(150 * var(--randomG)), calc(150 * var(--randomB)));
      }
    }
  }

}

.text-animation-5 {
  line-height: 3;

  span {
    display: inline-block;

    animation: falling-letters 4s infinite linear;
    animation-delay: calc(var(--randomVal) * 1s);
    color: rgb(calc(var(--index) + 102), calc(var(--index) + 51), calc(var(--index) + 153));


    @keyframes falling-letters {
      0%, 60% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(1500px) rotate3d(var(--randomVal), var(--randomVal), var(--randomVal), calc(var(--randomVal) * 1500deg));
      }
    }
  }
}