
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid white;
}

.mapcontainer {
  padding: 10px;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  button {
    width: 30%;
    margin: 20px auto 10px;
  }
}