
:root {
  --color-font: #2D3142;
  --color-list-item: #d6d2e8;
  --color-background: #EAE8FF;
  --color-highlight: #b0cfed;
  --color-error: #f8b8ae;
  --color-green-ok: #c6fbc6;
  --color-shadow: rgb(64, 76, 90);
}

body {
  font-family: 'Calibri', sans-serif;
  color: var(--color-font);
  font-size: 20px;
  background-color: var(--color-background);
  height: 100vh;
  width: 100vw;
  margin: 0;
}


#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 96%;
  margin: auto;
}

.content {
  flex-grow: 1;
  text-align: center;
  max-width: 550px;
  width: 100%;
  margin: auto;
}

input, textarea {
  font-size: 16px;
}


form input {
  border-radius: 7px;
  outline: none;
  border-style: none;
  padding: 8px;
}

.my-button {
  padding: 7px;
  background-color: var(--color-highlight);
  color: var(--color-font);
  border-radius: 7px;
  outline: none;
  border: 1px solid white;

  &:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;

    img {
      filter: invert(0.5);
    }
  }

  &.big {
    font-size: 20px;
  }
}

.listContainer {
  border-radius: 15px;

  &.notes {
    width: 90%;
    margin: auto;

    > * {
      margin: 15px auto;
    }
  }
}

.shoppingListElement {
  background-color: var(--color-list-item);
  padding: 10px;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  margin: 5px auto;
  border: 1px solid white;

  height: 25px;

  .label {
    width: 90%;
    white-space: nowrap;
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.notesListElement {
  background-color: var(--color-list-item);
  padding: 10px;

  display: flex;
  flex-direction: row;

  border-radius: 10px;
  margin: 5px auto;
  border: 1px solid white;
}

.newNoteElement {
  background-color: rgba(176, 207, 237, 0.5);
  text-align: center;
  display: block;
  border: 1px dashed white;
  padding: 10px;
  border-radius: 10px;
}

.deleteButton {
  img {
    height: 20px;
    width: 20px;
  }

  &.disabled img {
    filter: invert(0.5);
  }
}

.addButton {
  font-size: 20px;

  &.small {
    font-size: 15px;
  }
}

.noteContainer {
  text-align: left;
  width: 100%;
  position: relative;

  img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

.noteTitle {
  display: -webkit-box;
  font-weight: 400;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;

}

.noteDetails {
  font-size: 14px;

  > * {
    padding: 3px 0;
  }
}

.notesListControls {
  display: flex;
  justify-content: end;

  img {
    height: 30px;
    width: 30px;
  }

  > * {
    margin-left: 10px;
  }
}

.loginButton {
  width: 50%;
  padding: 10px;
  margin: auto;
}


.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  // gap + 2x navElement width + padding
  width: 360px;

  justify-items: center;

  margin: 100px auto;

  * {
    padding: 5px;
  }


}

.navElement {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 150px;
  height: 150px;


  background-color: var(--color-highlight);
  border-radius: 30px;


  img {
    height: 4em;
    width: 4em;
    padding: 10px;
    filter: invert(1);
  }


  &.small img {
    height: 3.7em;
    width: 3.7em;
  }

  &.last {
    grid-column: 1 / span 2;
  }
}


.loginForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  margin: auto;

  input {
    margin-bottom: 20px;
  }

  button {
    margin-top: 15px;
  }

  label {
    text-align: left;
  }
}

.addItemForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;

  input {
    flex: 1;
  }

  button {
    margin-left: 10px;
  }

  .inputAndButton {
    display: flex;
    justify-content: space-between;
  }

  &.lessMarginTop {
    margin-top: 15px;
  }
}

.listAndInput {
  padding: 5px;
  margin-top: 20px;

  hr {
    width: 50%;
    margin: 25px auto;
  }
}

.header {
  display: flex;
  justify-content: end;
  font-size: 15px;
  margin-bottom: 20px;
}

.offline-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-error);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.3);

}

.shopCategoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shopCategoryIcon {
  width: 200px;
  margin: 1em;
  padding: 0.2em;
  background-color: var(--color-background);

  img {
    height: 2em;
    filter: grayscale(100%) brightness(6) invert(5%);
    mix-blend-mode: hard-light;
    padding-top: 5px;
  }

  &.selected {
    background-color: var(--color-highlight);
    border-radius: 7px;
    border: 1px solid white;
  }
}


.listTopControlsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  img {
    height: 30px;
    width: 36px;
  }
}


.openModalBtn {
  display: flex;
  justify-content: space-between;

}

.modal-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  z-index: 999;
}

.modal {
  background-color: var(--color-background);
  padding: 15px;
  border-radius: 5px;
  width: 85vw;
  max-width: 500px;
  text-align: center;
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .listContainer {
    overflow-y: auto;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
    flex-grow: 1;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.selectedStaple {
  border: white solid 2px;
  padding: 8px;
}

.modalAddBtn {
  padding: 7px;
  font-size: 15px;
  margin-bottom: 10px;
  width: 40%;
}

.stapleAddSign {
  font-size: 25px;
  font-weight: bolder;
}

.modalSelectBtnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weekButtons {
  display: flex;
  justify-content: center;

  img {
    width: 35px;
    margin: 0 20px;


    &.rotated {
      transform: rotate(180deg);
    }
  }
}

.kwSelect button {
  height: 24px;
  padding-bottom: 40px;
  margin: auto;
  box-shadow: 0 0 0;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.mealTable {
  margin: 40px auto;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-list-item);
  width: 95%;
  border: 1px solid white;

  td {
    padding: 10px;
    border-bottom: 1px solid var(--color-background);
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tr:first-child {
    text-align: center;
  }

  textarea {
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    height: 50px;
    width: 90%;
    font-size: 18px;
    resize: vertical;
  }

}

.dateDisplay {
  font-size: 0.8rem;
}

.kwDate {
  display: flex;
  flex-direction: column;
}

td.mealDoneCheck {
  padding: 0;
}

.strike-through {
  text-decoration: line-through;
}

.footer {
  font-size: 0.7rem;
  text-align: center;
  padding: 15px;
}

.editor-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editorControls {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.choiceModal {
  background-color: var(--color-background);
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

.choiceModalButtons {
  padding: 15px;

  button {
    margin: 10px;
    width: 60px;
  }
}


.saveButton {
  display: flex;
  flex-direction: row;
  height: 100%;

  > * {
    height: 20px;
    width: 20px;
    margin: auto 4px;
  }

  &.saved {
    background-color: var(--color-green-ok)
  }

  &.unsaved {
    background-color: var(--color-error)
  }

  &.saving {
    background-color: #fbf5bc
  }
}

.userMenu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
}


.userCircle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 28px;
  color: black;
  text-align: center;
  background: var(--color-highlight);
  border: 1px solid white;

  &.active {
    color: white;
  }
}

.noElementsMessage {
  margin: 10px;
}

.feedbackMessagesContainer {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  .errorMessages {
    color: var(--color-error)
  }
  .successMessages {
    color: #79b579;
  }
}

.visibilityToggle {
  display: flex;
  flex-direction: row;
  margin: auto;

  img {
    height: 30px;
    width: 30px;
    margin: 0 5px;
  }

  &.disabled {
    .slider {
      filter: grayscale(1) brightness(0.9);
    }
    img {
      filter: invert(0.5);
    }
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid white;
}

.mapcontainer {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  button {
    width: 30%;
    margin: 20px auto 10px;
  }
}

.accountUserInfo {
  margin-bottom: 50px;
}

.userName {
  font-weight: bold;
}

.accountPageButton {
  width: 100px;
  padding: 10px;
  margin: auto;
}

.suggestionElement {
  padding: 10px;
  display: flex;
  align-items: center;

  height: 25px;

  margin: 5px;
  font-size: 20px;

  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }

  img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
  }

  background-color: var(--color-highlight);
  border-radius: 10px;
  border: 1px solid white;

}

.suggestionsContainer {
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  overflow: auto;

  &.visible {
    opacity: 1;
  }
  &.invisible {
    opacity: 0;
  }
}

hr.vertical {
  height: 25px;
  width: 0;
  border: 1px solid white;
  margin: auto;
}