
:root {
  --color-font: #2D3142;
  --color-list-item: #d6d2e8;
  --color-background: #EAE8FF;
  --color-highlight: #b0cfed;
  --color-error: #f8b8ae;
  --color-green-ok: #c6fbc6;
  --color-shadow: rgb(64, 76, 90);
}

body {
  font-family: 'Calibri', sans-serif;
  color: var(--color-font);
  font-size: 20px;
  background-color: var(--color-background);
  height: 100vh;
  width: 100vw;
  margin: 0;
}


#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 96%;
  margin: auto;
}

.content {
  flex-grow: 1;
  text-align: center;
  max-width: 550px;
  width: 100%;
  margin: auto;
}

input, textarea {
  font-size: 16px;
}


form input {
  border-radius: 7px;
  outline: none;
  border-style: none;
  padding: 8px;
}

.my-button {
  padding: 7px;
  background-color: var(--color-highlight);
  color: var(--color-font);
  border-radius: 7px;
  outline: none;
  border: 1px solid white;

  &:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;

    img {
      filter: invert(0.5);
    }
  }

  &.big {
    font-size: 20px;
  }
}

.deleteButton {
  img {
    height: 20px;
    width: 20px;
  }

  &.disabled img {
    filter: invert(0.5);
  }
}

.addButton {
  font-size: 20px;

  &.small {
    font-size: 15px;
  }
}



.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  // gap + 2x navElement width + padding
  width: 360px;

  justify-items: center;

  margin: 85px auto;

  * {
    padding: 5px;
  }


}

.navElement {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 150px;
  height: 150px;


  background-color: var(--color-highlight);
  border-radius: 30px;


  img {
    height: 4em;
    width: 4em;
    padding: 10px;
    filter: invert(1);
  }


  &.small img {
    height: 3.7em;
    width: 3.7em;
  }

  &.last {
    grid-column: 1 / span 2;
  }
}


.header {
  display: flex;
  justify-content: end;
  font-size: 15px;
}

.offline-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-error);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.3);

}



.strike-through {
  text-decoration: line-through;
}

.footer {
  font-size: 0.7rem;
  text-align: center;
  padding: 15px;
}



.userMenu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 10px;
}


.userCircle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 28px;
  color: black;
  text-align: center;
  background: var(--color-highlight);
  border: 1px solid white;

  &.active {
    color: white;
  }
}

.noElementsMessage {
  margin: 10px;
}

.feedbackMessagesContainer {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  .errorMessages {
    color: var(--color-error)
  }

  .successMessages {
    color: #79b579;
  }
}
