.slideout {
  margin-left: auto;
  margin-right: auto;

  .slideoutHeader {
    margin-bottom: 10px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
  }


  .slideout-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      transition: all 0.5s;
      height: 17px;
      rotate: 90deg;
      margin-right: 10px;
    }

    &.down {
      img {
        rotate: 180deg;
      }
    }
    .line {
      width: 100%;
      border: 1px solid black;
      height: 0;
    }
  }
  .slideout-container {
    overflow: hidden;
  }
  .slideout-content {
    translate: 0 -150%;
    transform: scaleY(0);
    opacity: 0;
    max-height: 0;
    transition: opacity 1s, translate 0.5s, transform 0.5s, max-height 0.5s;

    &.down {
      translate: 0;
      transform: scaleY(1);
      max-height: 500px;
      opacity: 1;
      transition: opacity 1s, translate 0.5s, transform 0.5s, max-height 0.5s;
    }
  }
}