
.pie {
  display: grid;
  margin: 1em;
  width: 9em; /* set width to desired pie diameter */
  aspect-ratio: 1; /* make element square */
  font: 2em sans-serif;
  transition: 1s ease;
}

.centerCircle {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  z-index: 9999;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #1a3b67;
}

.slice {
  display: grid;
  --ba: 1turn/var(--n); /* angle of one slice */
  --ca: var(--i)*var(--ba) + var(--oa); /* slice rotation */
  --dy: 50%*tan(.5*var(--ba)); /* half a slice height */
  grid-area: 1/ 1; /* stack them all on top of each other */
  place-content: center end; /* text at 3 o'clock pre rotation */
  padding: .5em; /* space from circle edge to text */
  border-radius: 50%; /* turn square into disc */
  transform: /* need rotation before translation */
          rotate(calc(var(--ca)));
            /* non-zero only in hover case */
  background: var(--c);
  /* so hover is only triggered inside slice area */
  clip-path:
          polygon(50% 50%, 100% calc(50% - var(--dy)), 100% calc(50% + var(--dy)));
  counter-reset: i calc(var(--i) + 1);

  &::after {
    /* reverse parent rotation for upright text */
    rotate: calc(-1*(var(--oa)));
    content: var(--x)
  }
}