<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles.css">
    <link rel="manifest" href="/manifest.json">
    <title>Shopping Lists</title>
</head>
<body>
<div class="container">
    <h1>Shopping Lists</h1>
    <ul>
        {{#each shoppingLists}}
            <li>von: {{this.createdBy}} erstellt: {{this.createdAt}}
                <button data-id={{this.id}}>Edit</button>
            </li>
        {{/each}}
    </ul>
    <button id="createList">Create new list</button>
</div>
</body>
</html>


<script>

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
                .then((registration) => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch((error) => {
                    console.error('Service Worker registration failed:', error);
                });
    }

    document.getElementById('createList').addEventListener('click', async () => {
        try {
            await fetch('/api/shopping-lists', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            });

            console.log('New shopping list created');
            window.location.reload()
        } catch (error) {
            console.error('There was a problem creating the new list', error);
        }
    });


    document.querySelectorAll('button[data-id]').forEach(button => {
        button.addEventListener('click', () => {
            const id = button.getAttribute('data-id');
            window.location.href = `/shopping-lists/${id}`;
        });
    });

</script>