<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>App</title>
</head>
<body>
<h1>Welcome to my app!</h1>
<a href="./login">login</a>
<a href="./shopping-lists">Shopping Lists</a>
</body>
</html>
