<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Register</title>
</head>
<body>
<h1>Register here</h1>
<form id="registerForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Register</button>
</form>
<p id="feedbackPanel"></p>


<script>
    document.getElementById("registerForm").addEventListener("submit", function (event) {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;


        const feedbackPanel = document.getElementById("feedbackPanel");
        const setFeedback = (message, error) => {
            feedbackPanel.setAttribute("style", `color:${error ? "red" : "green"}`);
            feedbackPanel.innerHTML = message;
        };
        fetch("/auth/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({username, password})
        })
                .then(response => {
                    switch (response.status) {
                        case 201:
                            setFeedback("Registration successful", false);
                            break;
                        case 409:
                            setFeedback("User already exists", true);
                            break;
                        default:
                            setFeedback("Something went terribly wrong...", true);
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });

    });
</script>

</body>
</html>
