<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Edit List</title>
</head>
<body>
<h1>Items:</h1>
<ul id="itemsList">
    {{#each items}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<div>
    <label for="newItemInput">New item name</label>
    <input type="text" id="newItemInput">
    <button id="addItem">Add item</button>
</div>
</body>
</html>


<script>
    document.getElementById('newItemInput').addEventListener('keydown', async (event) => {
        if (!(event.key === 'Enter')) {
            return
        }
        const newItem = document.getElementById('newItemInput').value;
        const currentUrl = window.location.href;
        const id = currentUrl.match(/\/shopping-lists\/(\d+)$/)[1];
        const addItemUrl = `/api/shopping-lists/${id}/items`;
        try {
            await fetch(addItemUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({item: newItem})
            });

            // Add the new item to the list in the DOM
            const ul = document.getElementById('itemsList');
            const li = document.createElement('li');
            li.textContent = newItem;
            ul.appendChild(li);

            // Clear the input field
            document.getElementById('newItemInput').value = '';

            console.log('New item added');

        } catch (error) {
            console.error('There was a problem adding the item', error);
        }
    });

</script>