<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Shopping Lists</title>
</head>
<body>
<h1>Shopping Lists</h1>
<ul>
    {{#each shoppingLists}}
        <li>von: {{this.createdBy}} erstellt: {{this.createdAt}} <button data-id={{this.id}}>Edit</button></li>
    {{/each}}
</ul>
<button id="createList">Create new list</button>
</body>
</html>


<script>
    document.getElementById('createList').addEventListener('click', async () => {
        try {
            await fetch('/api/shopping-lists', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            });

            console.log('New shopping list created');
            window.location.reload()
        } catch (error) {
            console.error('There was a problem creating the new list', error);
        }
    });


    document.querySelectorAll('button[data-id]').forEach(button => {
        button.addEventListener('click', () => {
            const id = button.getAttribute('data-id');
            window.location.href = `/shopping-lists/${id}`;
        });
    });

</script>