:root {
    --color-font: #2D3142;
    --color-three: #bcb9e3;
    --color-background: #EAE8FF;
    --color-highlight: #b0cfed;
    --color-shadow: rgb(64, 76, 90);
}


body {
    font-family: 'Calibri', sans-serif;
    color: var(--color-font);
    font-size: 20px;
    background-color: var(--color-background);
}

input {
    font-size: 16px;
}

button {
    background-color: var(--color-highlight);
    color: var(--color-font);
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px var(--color-shadow);
}

.container {
    width: 90vw;
    text-align: center;
    margin: auto;
    max-width:550px;
}

.listContainer {
    margin: auto auto 30px;
}

.listElementContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.listElement {
    background-color: var(--color-three);
    padding: 10px;
    width: 100%;

    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--color-shadow);
}



.deleteButton {
    margin-left: 15px;

}

.deleteButton img {
    height: 20px;
    width: 20px;
}

.addButton {
    padding: 7px;
}

.addButton.small {
    margin-left: 10px;
}

.loginButton {
    width: 50%;
    padding: 10px;
    margin: auto;
}

.header {
    text-align: right;
    padding: 10px;
    font-size: 15px;
}

form input {
    border-radius: 7px;
    outline: none;
    border: var(--color-font) solid 1px;
    padding: 8px;
}

.navContainer {
    display: flex;
    justify-content: center;
}

.navElement {
}

.navElement img {
    height: 4em;
    width: 4em;
    padding: 20px;
    filter: drop-shadow(3px 3px 2px var(--color-shadow));

}

.navElement.small img {
    height: 3.7em;
    width: 3.7em;
}



.loginForm {
    display: flex;
    flex-direction: column;
    padding: 35px;
    width: 70%;
    margin: auto;
}



.loginForm input {
    margin-bottom: 20px;
}

.loginForm label {
    text-align: left;
}

.addItemForm {
    display: flex;
    justify-content: space-between;
}



.addItemForm input {
    width: 60%;
}

.addItemForm button {
    width: 30%;
}

.listAndInput {
    padding: 5px;
}



.header button {
    padding: 5px;
    margin-top: 5px;
}

.onlineIndicator {
    margin-top: 5px;
}